%h1 
  Josh X San Francisco

= link_to "New Post", new_post_path, method: :get

%ul
  - @posts.each do |post|
    %li
      = link_to post.title, post
      %br
      = post.content 
      
      = button_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } 
      = button_to "Edit", post, method: :get
      = link_to "Comments (" + post.comments.count.to_s + ")", post_comments_path(post)





