%h1 
  Josh X San Francisco

%ul
  - @posts.each do |post|
    %li
      = post.title
      = link_to post.title, post
      = post.content 
      
      = button_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } 
      = button_to "Edit", post, method: :get
      = link_to "Comments", post_comment



